.blog-card {
  display: flex;
  background-color: #001524;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  height: 500px; /* Set a fixed height for the blog card */
  background-image: url("/public/images/11.png"); /* Adjust path as per your project structure */
  background-size: 650px; /* Set background size to cover entire container */
  background-position: right bottom; /* Position image at the bottom right corner */
  background-repeat: no-repeat; /* Prevent background image from repeating */
}
  .blog-card-image {
    width: 50%;
    object-fit: cover;
    margin: 90px;
    flex: 1;
    
  }
  
  .blog-card-content {
    margin: 90px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  
  .blog-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
  }
  
  .blog-card p {
    margin: 0 0 20px;
    line-height: 1.6;
  }
  
  .blog-card-link {
    text-decoration: none;
    color: #0b5ed7;
    font-weight: bold;
    align-self: flex-start;
  }
  
  .blog-card-link:hover {
    text-decoration: underline;
  }
