.blog-section {
    padding: 40px 20px;
    background-color: #01131d; /* Dark background */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center blog items horizontally */
    background-image: url('/public/images/22.png'); /* Add the path to your background image */
    background-position: right center; /* Position the background image on the left side, centered vertically */
    background-repeat: no-repeat;
    background-size: 450px;
  }
  
  .section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .blog-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    max-width: 800px;
    width: 100%; /* Ensure blog items take full width of the container */
  }
  
  .blog-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .blog-date {
    font-size: 1rem;
    color: #bbb;
    margin-right: 20px;
    flex-shrink: 0;
  }
  
  .blog-image {
    width: 110px; /* Adjust according to your needs */
    height: 110px; /* Adjust according to your needs */
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
  }
  
  .blog-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .blog-description {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .blog-details {
    font-size: 1rem;
    color: #1e90ff; /* Link color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .blog-details:hover {
    color: #6495ed; /* Link hover color */
  }
  
  