.footer-section {
  /* background: linear-gradient(#01131d 0%, #000000 30%, #000000 100%); */
  background-color: #101010;
  color: #fff; /* White text color */
  padding: 60px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  /* background-image: url(/public/images/foot.PNG);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 250px; */
}

.footer-column {
  width: 100%;
  max-width: 300px;
  margin-bottom: 40px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #00bcd4; /* Light blue title color */
}

.footer-column p {
  line-height: 1.6;
}

.footer-column a {
  color: #fff; /* White text color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #00bcd4; /* Light blue on hover */
  text-decoration: underline;
}

.newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.newsletter-form button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #007f8d;
}

.newsletter-form button:hover {
  background-color: #005f6a; /* Darker blue on hover */
}

.footer-social {
  margin-top: 20px;
}

.footer-social .social-icon {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-social .social-icon:hover {
  transform: scale(1.1);
}

.latest-posts {
  list-style: none;
  padding: 0;
}

.latest-posts li {
  margin-bottom: 10px;
}

.latest-posts a {
  color: #fff; /* White text color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.latest-posts a:hover {
  color: #00bcd4; /* Light blue on hover */
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.7); /* Lighter text color */
  font-size: 14px;
}
