/* src/components/Navbar.css */
.navbar {
    background-color: transparent !important;
    transition: background-color 0.5s;
    color: white; /* Ensure the text color is white */
  }
  
  .navbar .nav-link {
    color: white !important; /* Ensure the link text color is white */
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar .navbar-brand {
    color: white !important; /* Ensure the brand text color is white */
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar.scrolled {
    background-color: #01131D !important;
    color: white !important; /* Change text color to black when scrolled */
  }
  
  .navbar.scrolled .nav-link {
    color: white !important; /* Change link text color to black when scrolled */
  }
  
  .navbar.scrolled .navbar-brand {
    color: white !important; /* Change brand text color to black when scrolled */
  }
  
  .navbar .nav-link:hover, .navbar .navbar-brand:hover {
    color: white !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.7);
  }
  
  .navbar .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar-icons a {
    color: white;
    margin-left: 1rem;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar .navbar-icons a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.7);
  }
  
  .navbar.scrolled .navbar-icons a {
    color: white;
  }
  
  .navbar.scrolled .navbar-icons a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 123, 255, 0.7);
  }
  
  .navbar .navbar-logo {
  height: 40px; /* Adjust the height according to your preference */
  width: auto; /* Maintain the aspect ratio */
  
}

.navbar.scrolled .navbar-logo {
  height: 35px; /* Adjust the height for the scrolled state if needed */
  transition: height 0.3s;
}
